/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.class
*.o
*.so
bin/
gen/
.gradle/
build/
local.properties
proguard/
.metadata/
*.DS_Store
Thumbs.db
.idea/
*.iml
*.iws
*.ipr
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/codeStyleSettings.xml
